<div class="container">
  <div class="row">
    <div class="col-md-8 align-content-center">
      <img  
      class="center " 
      src="http://www.vsromantica.com/files/15726/ckfinder/images/920x312%20Contacts.jpg"
      class="col-md-12"
      >
      <div class="col-md-12 text-center text-dark bg-light ">
          <h1>Aplicacion para gestionar contactos telefonicos</h1>
          <h5 class=" text-danger">Desarrollado con Angular 5</h5>
      </div>
      
    </div>
    <div class="col-md-4 ">
      <h4 class="text-info text-center">Equipo de trabajo</h4>
     <div class="card text-left|center|right">
       <img class="card-img-top" src="https://udemy-images.udemy.com/course/480x270/412952_ba36_4.jpg" alt="">
       <div class="card-body">
          <h4 class="card-title">Rosselyn Anaya</h4>
          <p class="card-text">rosselynanaya@gmail.com</p>
        </div>
       <div class="card-body">
         <h4 class="card-title">Hector Reinosa</h4>
         <p class="card-text">hreinosa@hotmail.com</p>
       </div>
     </div>
    </div>
  </div>

</div>

